<app-navbar></app-navbar>
<ngb-carousel #carousel [showNavigationIndicators]="false" [interval]="0" [activeId]="activeId">
	<ng-template ngbSlide *ngFor="let personaje of listaPersonajes; let i = index" id="{{i}}">
    <div id="contenido">
      <div class="b1 font">
        <h1>{{personaje.nombre}}</h1><br>
        <h1>{{personaje.apellido}}</h1><br>
        <br>
        <div class="separador_small"></div>
        <br>
        <p>{{personaje.descripcion}}</p><br>
        <p>Rango: {{personaje.rango}}</p>
      </div>

      <div class="b2">
        <img *ngIf="personaje.id_personaje != 3" src="{{personaje.imagen}}" class="img">
        <img *ngIf="personaje.id_personaje == 3" src="{{personaje.imagen}}" class="img-sasuke">
      </div>
    </div>
	</ng-template>
</ngb-carousel>
