<app-navbar></app-navbar>
<div id="contenido font4" style="overflow: clip !important;">
  <div class="contenido-centrado font" >
    <div class="kate-explicacion font">

      <!-- <div class="interiores">
        <h1 class="titulo1" data-aos="zoom-in" data-aos-delay="2200">Personajes</h1>
      </div> -->
      <section>
        <h1 class="text-shadow">Personajes</h1>
        <div class="tags">
          <p class="text-shadow"><small>Guía de personajes</small></p>
        </div>
      </section>
    </div>
  </div>
