<div id="contenido">
  <div class="titulo font" style="text-align: center;">
    <span>Descubre toda la información sobre las villas...</span>
  </div>

  <div class="contenido-bloques g1">
    <div class="separador_small b1"></div>
    <img src="https://media4.giphy.com/media/UPcPzUKUkDOrC/giphy.gif?cid=ecf05e47dgkvqw8tugdha1v4858hlaj1zn771zgygjrjrew2&ep=v1_gifs_related&rid=giphy.gif&ct=s" width="120px">
    <div class="separador_small b1"></div>
  </div>

  <div class="contenido-bloques">
    <app-villas-listado *ngFor="let villa of listaVillas" [villa]="villa"></app-villas-listado>
  </div>

  <div class="contenido-bloques g1">
    <div class="separador_small b1"></div>
    <img src="https://media4.giphy.com/media/UPcPzUKUkDOrC/giphy.gif?cid=ecf05e47dgkvqw8tugdha1v4858hlaj1zn771zgygjrjrew2&ep=v1_gifs_related&rid=giphy.gif&ct=s" width="120px">
    <div class="separador_small b1"></div>
  </div>

  <div class="titulo font" style="text-align: center;">
    <span>¿Faltan villas por añadir? Añadelas tú mismo...</span>
    <div class="btn-efecto-login"><button>AÑADIR VILLA</button></div>
  </div>
</div>

