<main id="contenido">
  <div class="titulo font" style="text-align: center;">
    <span>Descubre toda la información sobre las villas...</span>
  </div>

  <div class="contenido-bloques g1">
    <div class="separador_small b1"></div>
    <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExN2U1aGRlOGNnNDFvaXQ2c2dxMTJiZzJteGN0eG9mdmJxNHlpZnQ5OSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/jDWQL2uPrBNn2/giphy.gif" width="150px">
    <div class="separador_small b1"></div>
  </div>

  <div class="contenido-bloques">
    <app-clanes-listado *ngFor="let clan of listaClanes" [clan]="clan"></app-clanes-listado>
  </div>

  <section *ngIf="token">
    <div class="contenido-bloques g1">
      <div class="separador_small b1"></div>
      <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExN2U1aGRlOGNnNDFvaXQ2c2dxMTJiZzJteGN0eG9mdmJxNHlpZnQ5OSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/jDWQL2uPrBNn2/giphy.gif" width="150px">
      <div class="separador_small b1"></div>
    </div>

    <div class="titulo font" style="text-align: center;">
      <span>¿Faltan clanes por añadir? Añadelos tú mismo...</span>
      <div class="btn-efecto-login"><button>AÑADIR CLAN</button></div>
    </div>
  </section>
</main>
