<div id="contenido">
  <div class="titulo font" style="text-align: center;">
    <span>OBTENGA INFORMACIÓN SOBRE TODOS LOS PERSONAJES RELACIONADOS CON EL UNIVERSO DE NARUTO...</span>
  </div>

  <div class="contenido-bloques g1">
    <div class="separador_small b1"></div>
    <img src="https://media4.giphy.com/media/gzX81YPi6uCqI/giphy.gif?cid=ecf05e471kq27avc1pe9rxhur3qpsc3za2r2hu3atxrh96fq&ep=v1_gifs_related&rid=giphy.gif&ct=s" width="200px">
    <div class="separador_small b1"></div>
  </div>

  <div class="contenido-bloques">
    <app-wiki-listado *ngFor="let personaje of listadoPersonajes" [personaje]="personaje"></app-wiki-listado>
  </div>

  <div class="contenido-bloques g1">
    <div class="separador_small b1"></div>
    <img src="https://media4.giphy.com/media/gzX81YPi6uCqI/giphy.gif?cid=ecf05e471kq27avc1pe9rxhur3qpsc3za2r2hu3atxrh96fq&ep=v1_gifs_related&rid=giphy.gif&ct=s" width="200px">
    <div class="separador_small b1"></div>
  </div>

  <div class="titulo font" style="text-align: center;">
    <span>¿Faltan personajes por añadir? Añadelos tú mismo...</span>
    <div class="btn-efecto-login"><button>AÑADIR PERSONAJE</button></div>
  </div>
</div>
