#contenido {
  display: block;
  padding: 5% 2%;
}

.b1 {
  width: 600px;
}

.g1 {
  margin: 8% 0;
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.titulo span {
  margin-bottom: 4%;
}
