@font-face {
  font-family: 'Naruto Font';
  src: url('assets/fonts/StretchPro.otf');
}

.titulo {
  font-size: 18px;
  font-weight: 600;
}

.separador_small {
  background-image: linear-gradient(120deg, #F7901E 0%, #ed1c24 100%);
  height: 2px;
  margin: 2% 0;
}

.contenido-bloques {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
}


.carousel-control-next, .carousel-control-prev {
  width: 5% !important;
}

/* CLASES GENERALES PARA BOTONES */

.font {
  font-family: 'Naruto Font';
}

.btn-efecto {
  position: relative;
  top: 0;
  left: 0;
  width: 180px;
  height: 40px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.btn-efecto button {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	color: #fff;
	font-weight: 400px;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
}

.btn-efecto:hover button {
	letter-spacing: 3px;
  color: white;
  cursor: pointer;
}

.btn-efecto button::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
	transform: skewX(45deg) translate(0);
	transition: 0.5s;
	filter: blur(0px);
}

.btn-efecto:hover button::before {
	transform: skewX(45deg) translate(200px);
}

.btn-efecto::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	bottom: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}

.btn-efecto:hover::before {
	bottom: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}

.btn-efecto::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	top: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}

.btn-efecto:hover::after {
	top: 0;
	height: 50%;
	width: 90%;
	border-radius: 30px;
}

.btn-efecto::before, .btn-efecto::after {
	background: #F7901E;
	box-shadow: 0 0 5px #F7901E, 0 0 15px #F7901E, 0 0 30px #F7901E,
		0 0 60px #F7901E;
}
