<app-navbar></app-navbar>
<ngb-carousel #carousel [showNavigationIndicators]="false" [interval]="0" [activeId]="activeId">
	<ng-template ngbSlide *ngFor="let clan of listaClanes; let i = index" id="{{i}}">
    <div id="contenido">
      <div class="b1 font">
        <h1>{{clan.nombre}}</h1><br>
        <br>
        <div class="separador_small"></div>
        <br>
        <p>{{clan.descripcion}}</p><br>
        <div class="separador_small"></div><br>
        <p>{{clan.cualidad}}</p>
      </div>

      <div class="b2">
        <img  src="{{clan.imagen}}" class="img">
      </div>
    </div>
	</ng-template>
</ngb-carousel>
